body {
	margin: 20px;
	font-family: arial;
}

a {
	text-decoration: none;
	color: black;
}

a:visited { 
	text-decoration: none;
  	color: black;
}

a:hover {
  text-decoration: underline;
}

.url {
	color: blue;
}

input {
	width: 50px;
}

.sep {
	width: 50%;
	border: 3px solid #D3D3D3;
}

.sep-thin {
	width: 50%;
	border: 1px solid #D3D3D3;
}

.error {
	color: red;
	font-weight: bold;
}

.questions {
}

.totalScore {
	text-align: right;
	float: right;
	padding: 20px;
	position: sticky;
	top: 2.5em;
	color: #333;
	background-color: #D3D3D3;
}