body {
	margin: 20px;
	font-family: arial;
}

input {
	width: 50px;
}

.questions {
}

.totalScore {
	color: #333;
	background-color: #D3D3D3;
	text-align: right;
	float: right;
	padding: 20px;
	position: sticky;
	top: 0;
}